{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1>Category index</h1>

    {# Ajoute un message en cas de succès #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <table class="table table-bordered">
        <thead>
            <tr class="table-custom-styles">
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr class="table-custom-styles">
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('category_show', {'id': category.id}) }}" class="btn btn-success">show</a>
                    <a href="{{ path('category_edit', {'id': category.id}) }}" class="btn btn-success">edit</a>
                </td>
            </tr>
        {% else %}
            <tr class="table-custom-styles">
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('category_new') }}" class="btn btn-success btn-create">Create new</a>
{% endblock %}
