{% extends 'base.html.twig' %}

{% block title %}Plat index{% endblock %}

{% block body %}
    <h1>Plat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Categorie</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plat in plats %}
            <tr>
                <td>{{ plat.id }}</td>
                <td>{{ plat.nom }}</td>
                <td>
                    {% if plat.Category.name is defined %}
                    {{ plat.Category.name }}
                    {% endif %}
                </td>
                <td>{{ plat.description }}</td>
                <td>
                    <a href="{{ path('plat_show', {'id': plat.id}) }}">show</a>
                    <a href="{{ path('plat_edit', {'id': plat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('plat_new') }}">Create new</a>
{% endblock %}
