{% extends 'base.html.twig' %}

{% block title %}Plat{% endblock %}

{% block body %}
    <h1>Plat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ plat.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ plat.nom }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>
                    {% if plat.Category.name is defined %}
                    {{ plat.Category.name }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ plat.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('plat_index') }}">back to list</a>

    <a href="{{ path('plat_edit', {'id': plat.id}) }}">edit</a>

    {{ include('plat/_delete_form.html.twig') }}
{% endblock %}
